<!DOCTYPE html>
<html lang="en">
<head>

<title>Order Clesius</title>
    <link rel="stylesheet" type="text/css" href="/static/style_sheet.css">
</head>
<h1>This is the cookie order page</h1>
<p>please check back frequently, page coming soon...</p>

<!--todo--each cookie needs a small image and cookie description, pack size.-->
<!--use a dropdown box for quantity validation (1-10).-->
<!--display a running total.-->
<!--change quantities.-->
<!--delete an item entered.-->

<!--todo--link to finalize order page,include payment and shipping.-->
<!--send order confirmation when order is successful.-->

<!--ideas-->
 <!--use javascript to update the list as items are ordered or deleted?-->
<!--week 3 slide 34++-->
<!--use canvas for dynamic graphics on order page??-->
<!--week 4 #17??++-->
<h6> Place your Clesius Cookies order now, right here...</h6>

    <form method="POST" action="/save_order" > <!--<h1 class="">Sprint Races</h1>-->
    <select name='cookie_type'>
    {% for cookie in cookies %}
    <option value="{{ cookie[0] }}">{{ cookie[1],cookie[2]}}</option>
    {%  endfor %}
    </select>
<h6>
    cookie #1/ need image tag (small). Cookie name. Cookie Desc.  Dropdown box quantity 1>10.<br>
    Cookie #2/ same<br>
    Cookie #3/ Same<br>
    Cookie #4/ Same<br>
</h6>

<h3>
    <p>Is your order total correct?</p>
    <p>Please continue on to order details, below</p>
</h3>
<hr>


<h3>
    <p>Order Details</p>
    (submit button. payment will go to outside processor)
    needs to return a confirmation "thank you"
</h3>

<!--needs some css help-->
<div class="addOrderDetails">
    <form id="addOrder_form" action="add" method="POST">
        <input id="addfirstname_text" type="text" name="firstName" placeholder="First Name" required><br><br>
        <input id="addlastname_text" type="text" name="lastName" placeholder="Last Name" required><br><br>
        <input id="addAddress_text" type="text" name="address" placeholder="Street Address, City, State" required><br><br>
        <!--<input id="addcity_text" type="text" name="city" placeholder="City" required><br><br>-->
        <!--<input id="addstate_text" type="text" name="state" placeholder="State" required><br><br>-->
        <!--<input id="addzip_text" type="text" name="zipCode" placeholder="Zip Code" required><br><br>-->
        <input id="addemail_text" type="text" name="email" placeholder="Email address" required><br><br>
        <input id="addphone_text" type="text" name="phone" placeholder="Phone Number"><br><br><br><br>
        <input id="addOrder_button" type="submit" value="Order My Cookies"><br><br>
    </form>
</div>
