<!DOCTYPE html>
<html lang="en">
<head>

<title>Order Clesius</title>
    <link rel="stylesheet" type="text/css" href="/static/style_sheet.css">
</head>
<h1>This is the cookie order page</h1>
<p>please check back frequently, page under development...</p>


<!--use a dropdown box for quantity validation (1-10).-->
<!--display a running total.-->
<!--change quantities.-->
<!--delete an item entered.-->
<!--send order confirmation when order is successful.-->

<!--ideas-->
 <!--use javascript to update the list as items are ordered or deleted?-->
<!--week 3 slide 34++-->
<!--use canvas for dynamic graphics on order page??-->
<!--week 4 #17??++-->
<h4> Choose your favorite (or favorites!)...</h4>
{#inspired by Kayla's race program#}
    <form method="POST" action="/order" >
    <select name='cookie_type'>
    {% for cookie in cookies %}
    <option value="{{ cookie.id }}">{{ cookie.description, cookie.price}}</option>
    {%  endfor %}
    </select>
    </form>
<br><br>

<h4> How many boxes? </h4>
    <form method="POST" action="/order_saved" >
{#        changed action to redirect to order page#}
        <input type="text" name="quantity">
    </select>
        <input type="submit" value="Submit">
{#        submit routes to order-saved, but no info#}
    </form>



<h3>
    <p>Is your order total correct?</p>
    <p>Please continue on to order details, below</p>
</h3>
<hr>


<h3>
    <p>Order Details</p>
{#    (submit button. payment will go to outside processor)#}
{#    needs to return a confirmation "thank you"#}
</h3>
